html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  /*align-items: stretch;*/
  height: 100%;
}

.App {
  /*display: flex;*/
  /*flex-flow: column nowrap;*/
  /*height: 100%;*/
}

.Navbar {
  display: flex;
  flex: 0 1 auto;
  align-self: stretch;
}

.MapArea {
  /*display: flex;*/
  /*align-self: center;*/
  /*width: 100%;*/
  /*flex-direction: column;*/
}

/*.Map {*/
/*  display: flex;*/
/*  position: absolute;*/
/*}*/

.MapPin {
  background-color: #77ff47;
  border-radius: 50%;
  z-index: auto;
}

.MapPin:hover {
  background-color: #ff0000;
  z-index: 1000;
}